In [23]:
class Hospital:
    def __init__(icu, patientname, disease):
        icu.patientname = patientname
        icu.disease = disease
    
    def prescription(icu):
        print("nuvu ipoyavvv")

In [19]:
patient = Hospital("Riyaaa", "memory")

In [25]:
patient.prescription()

 nuvu ipoyavvvv

In [39]:
print(f"My name is {patient.patientname} and i am suffering from {patient.disease}")

My name is Riyaaa and i am suffering from memory

In [27]:
class transport:
    def __init__(road, vechile_type, vechile_brand):
        road.vechile_type = vechile_type
        road.vechile_brand = vechile_brand

    def roadways(road):
        print(" mellaga vellu")

In [29]:
BMW = transport("Car","BMW")

In [33]:
BMW.roadways()

 mellaga vellu

In [47]:
print(f"My vechile is {BMW.vechile_type} and it is from {BMW.vechile_brand} 's Brand")

My vechile is Car and it is from BMW 's Brand

In [57]:
class Financial:
    def __init__(bank, bank_name, bank_code):
        bank.bank_name = bank_name
        bank.bank_code = bank_code

    def cash(Arun):
        print(f"Bank Name : {bank.bank_name}, Bank Code : {bank.bank_code}")

In [59]:
bank = Financial("SBI", "SBI143")

In [63]:
bank.cash()

Bank Name : SBI, Bank Code : SBI143

In [61]:
class Telecom:
    def __init__(s, sim_brand, cost_recharge):
        s.sim_brand = sim_brand
        s.cost_recharge = cost_recharge
    def signel(sitara):
        print(f"name of the Comunication is {sitara.sim_brand} and can cost you  {sitara.cost_recharge} to recharge")

In [63]:
t=Telecom("Airtel","399")

In [65]:
t.signel()

name of the Comunication is Airtel and can cost you  399 to recharge

In [13]:
class Education:
    def __init__(edu, institute_name, institute_location):
        edu.institute_name = institute_name
        edu.institute_location = institute_location

    def books(self):
        print(f"Institution name is {self.institute_name} and it is located in {self.institute_location}.")

In [171]:
lenova = Education("teksaccatamy", "hyd")

In [173]:
lenova.books()

Institution name is teksaccatamy and it is located in hyd.

In [191]:
class Arun:
    def __init__(ak,gun_name,no_bullets):
        ak.gun_name = gun_name
        ak.no_bullets = no_bullets
        
    def shot(magzine):
        print(f"NAme of the gun is {magzine.gun_name} and it contaians {magzine.no_bullets}")

In [193]:
akhil = Arun("Ak47","140")

In [195]:
akhil.shot()

NAme of the gun is Ak47 and it contaians 140

In [121]:
class Millionaire:
    def __init__(ss, millionaire_name, millionaire_networth):
        ss.millionaire_name = millionaire_name
        ss.millionaire_networth = millionaire_networth

    def money(s):
        print(f"{s.millionaire_name} is a millionaire and his net worth is {s.millionaire_networth}.")

In [127]:
m = Millionaire("Ambani", "200 rs")

In [129]:
m.money()

Ambani is a millionaire and his net worth is 200 rs.

In [151]:
class members:
    def __init__(g,father_name,mother_name,brother_name,my_name):
        g.father_name = father_name
        g.mother_name = mother_name
        g.brother_name = brother_name
        g.my_name = my_name
    def family(mem):
        print(f"my father name is :{mem.father_name} ,and mother name is :{mem.mother_name} ,and my brother name is :{mem.brother_name}, and my name is :{mem.my_name},this is my famly ")

In [153]:
fem = members("Ramesh","latha","Akhil","Arun")

In [155]:
fem.family()

my father name is :Ramesh ,and mother name is :latha ,and my brother name is :Akhil, and my name is :Arun,this is my famly

In [157]:
class Education:
    def __init__(edu, institute_name, institute_location):
        edu.institute_name = institute_name
        edu.institute_location = institute_location

    def __str__(self):
        return f"Institution name is {self.institute_name} and it is located in {self.institute_location}."

In [159]:
college = Education("KITS","khammam")

In [161]:
print(college)

Institution name is KITS and it is located in khammam.

In [ ]:
A = input("Enter what brand of laptop u want :")
B = input("Enter what configaration you want :")
class Arun:
    def __init__(q,A,B):
        q.A=A
        q.B=B
    def __str__(c):
        return f"i want {c.A} laptop with a configaration of {c.B}"

con = Arun(A,B)
print(con)