## 1) Difine about List ?
## 2) Accesing the List ?
## 3) Concation ?
## 4) Repeation ?
## 5) Types of List Methods?

## 1) Difine about List ?
- A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].
- Python has a great built-in list type named "list".

In [ ]:
## Examples for List.

Friends =[1,2,3,4,5,6,7,8,9,10]

In [23]:
numbers = [10,20,30,40,50,60,70,8,]
print(numbers)

[10, 20, 30, 40, 50, 60, 70, 8]

In [25]:
Fruits = ["Apple","bannana","Starfruit","Jackfruit"]
print(Fruits)

['Apple', 'bannana', 'Starfruit', 'Jackfruit']

In [33]:
A = [10,100,1000,10000,100000,1000000]
print(A)

[10, 100, 1000, 10000, 100000, 1000000]

## 2) Accesing the List ?
- Python list elements are ordered by index, a number referring to their placement in the list. List indices start at 0 and increment by one. To access a list element by index, square bracket notation is used: list[index] .

In [38]:
a= [1,2,3,4,5,6,12,13,14,15,16]
print(a)

[1, 2, 3, 4, 5, 6, 12, 13, 14, 15, 16]

In [42]:
print(a[2])

3

In [44]:
print(a[4])

5

In [46]:
print(a[0])

1

## 3) Concation ?
- String concatenation means add strings together.
- Use the + character to add a variable to another variable.
- The operation of joining character strings end-to-end.

In [51]:
Friends =["Arun","akhil","Ramesh","Salman","chandu"]
Age = [20,30,40,22,23]
scholer = Friends+Age
print(scholer)

['Arun', 'akhil', 'Ramesh', 'Salman', 'chandu', 20, 30, 40, 22, 23]

In [63]:
A= input("Enter u r name")
B=["arun","akhil","salman","chandu","mahesh","samantha"]
if A in B:
    print(A+" is your friend")
else:
    print(A+" vellu ra babu")

Enter u r name anushka

anushka vellu ra babu

In [65]:
A = [1,2,3,4,5,6,7]
b=[12,13,14,15,16]
c=A+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 12, 13, 14, 15, 16]

## 4) Repeation ?
- Repetition statements are called loops.
- it used to repeat the same code multiple times in succession.

In [74]:
A = (" i love u \n")
b = A*5
print(b)

 i love u
 i love u
 i love u
 i love u
 i love u

In [98]:
Arun = [1,2,3,4,5,6,7,8,9,00]
print(Arun)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [100]:
b = Arun*5
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [102]:
print(Arun)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [104]:
arun=Arun*2
print(arun)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

## 5) Types of List Methods?
- append()-----Adds an element at the end of the list
- clear()-----Removes all the elements from the list
- copy()-----Returns a copy of the list
- count()-----Returns the number of elements with the specified value
- extend()-----Add the elements of a list (or any iterable), to the end of the current list
- index()-----Returns the index of the first element with the specified value
- insert()------dds an element at the specified position
- pop()-----Removes the element at the specified position
- remove()-----	Removes the item with the specified value
- reverse()-----Reverses the order of the list
- sort()-----Sorts the list

## append().
- Adds an element at the end of the list.

In [112]:
A = [1,2,3,4,5,6]
print(A)

[1, 2, 3, 4, 5, 6]

In [120]:
A.append(100)
print(A)

[1, 2, 3, 4, 5, 6, 100, 100, 10, 100]

In [118]:
A.append(10)
print(A)

[1, 2, 3, 4, 5, 6, 100, 100, 10]

## clear().
- Removes all the elements from the list.

In [134]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [140]:
l.clear()

In [142]:
Arun = ["Akhil","Varun","Tharun"]
print(Arun)

['Akhil', 'Varun', 'Tharun']

In [144]:
Arun.clear()

## copy().
- Returns a copy of the list

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]