In [1]:
x = y = z = 20
print (x)

20

In [3]:
print(y)

20

In [5]:
f = 10
j = 1.254
y = 3 + 44j
print(type(y))

<class 'complex'>

In [7]:
print(type(f))

<class 'int'>

In [9]:
t = 5 + 88k
print(type(t))

SyntaxError: invalid decimal literal (1603162554.py, line 1)

In [11]:
print(type(j))

<class 'float'>

In [13]:
t = 5-55j
print(type(j))

<class 'float'>

In [15]:
print(type(t))

<class 'complex'>

In [17]:
A = ["Arun","akhil","ramesh"]
print(type(A))

<class 'list'>

In [19]:
print(A[1])

akhil

In [21]:
print(A[0])

Arun

 # Task - 2

# 1) Explain About Variables ?
# 2) Rules of Variables ?
# 3) Types of Variables ?
# 4) 10 Examples of each and Every Types ?
# 5) you Need to Print and Identify the Types ?

 # 1) Explain About Variables ?
- Python variables are simply containers for storing data values.
- Variable is a name which is used to refer Memory Allocation.
- Variable names can be a group of both the letters and digits But they have to begin    with a letter or an underscore.

In [7]:
arun = 100
akhil = 200
print(arun)
print(akhil)

100
200

# 2) Rules of Variables ?
 - variables can be written in alpha-numeric structure
 - varaible can't start with special characters except underscore
 - varaible can't start with digits 
 - varaible can't start with keywords
 - this are case sensitive

# 3) Types of Variables ?
- There are 2 types of variables they are.
  ### Types.
- Single Variable.
- Multiple Varible.
  - multiple Variable is calssified in 2 Types.
     - Multi*Multi.
     - Multi*One.

In [26]:
# Single varible Example
Lenova = 100
Apple = 101
Microsoft = 102
print(Lenova)
print(Apple)
print(Microsoft)
print(Lenova,Apple,Microsoft)

100
101
102
100 101 102

In [29]:
 # Multiple * Multiple
A,B,C = 9,99,999
print(A)
print(B)
print(C)
print(A,B,C)

9
99
999
9 99 999

In [35]:
Arun,Varun,Tharun = 0,00,000
print(Arun)
print(Varun)
print(Tharun)
print(Arun,Varun,Tharun)

0
0
0
0 0 0

In [60]:
# 4) 10 Examples of each and Every Types ?
 ##SingleVerible
arun = 22
jagadesh = 22
shameer = 23
salman = 24
rushi = 20
vijay = 23
hemanth = 26
print("Age of",arun)
print("Age of",jagadesh)
print("Age of",shameer)
print("Age of",salman)
print("Age of",rushi)
print("Age of",vijay)
print("Age of",hemanth)

Age of 22
Age of 22
Age of 23
Age of 24
Age of 20
Age of 23
Age of 26

In [62]:
## Milti * Multi
A,B,C = 1,2,3
lenova,apple,microsoft = 49000,99999,199999
nifty,sensex,Banknifty = 26178,61153,53834
print(lenova)
print(apple)
print(microsoft)

49000
99999
199999

In [64]:
print(nifty)

26178

In [66]:
print(Banknifty)

53834

In [68]:
print(sensex)

61153

In [70]:
 ## multi * one

Arun=Akhil=Nikil=999

In [72]:
print(Arun)

999

In [74]:
print(Akhil)

999

In [76]:
print(Nikil)

999

In [78]:
## one * multi
A = 120,130,140

In [80]:
print(A[0])

120

In [82]:
print(A[1])

130

In [84]:
print([2])

[2]

# 5) you Need to Print and Identify the Types ?
 -print and Identify the Variable type.

In [91]:
lenova,apple,microsoft = 49000,99999,199999
nifty,sensex,Banknifty = 26178,61153,53834
print(lenova)
print(apple)

49000
99999

In [ ]:
print(type(variable))